*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #0C1821;
    font-family: inter, sans-serif;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,162px);
    grid-template-rows: repeat(2,55px);
    row-gap: 24px;
    column-gap: 39px;
}

nav li{
    background-color: #324A5F;
    border-radius: 5px;
}

nav li a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
}

nav{
   display: flex;  
   align-items: center;
}

.active{
    color:#F2B400;
}

header{
    display: flex;
    gap: 92px;
    padding-top: 38px;
    justify-content: center;
}

.slider{ 
    margin-top: 81px;
    margin-bottom: 68px;
}

.slider h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.container {
    position: relative;
    width: 100%;
    height: 575px; 
    margin-top: 50px;
}

.container .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left:0;
    overflow: hidden;
    animation: slider 26s infinite;
}
.container .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 575px;
    float: left;
    overflow: hidden
}
.container .slider-container .slide img{
  display: block;
  width: 100%;
  height: 100%
}


@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

video{
    width: 582px;
    height: 389px;
}

.video{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2{
    color: white;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.video p{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    color: white;
    margin-top: 15px;
}

.videos{
    margin-bottom: 69px;
}

article h3 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

article p{
    width: 293px;
    height: 146px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.523%;
    margin: 19px 39px 22px 39px;
}

article a{
    text-decoration: none;
    color: #373A3C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

article img{
    width: 371px;
    height: 350px;
}

article{
    background-color: white;
    border-radius: 11px;
    width: 371px;
    cursor: pointer;
}

.articles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(2,160px);
    grid-template-rows: repeat(5,40px);
    row-gap: 50px;
}

footer a{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-around;
    gap: 571px;
    background-color: #324A5F;
    margin-top: 64px;
    padding: 67px 88px 67px 88px;
    flex-wrap: wrap;
}